# Credenciales de Mercado Pago
MP_ACCESS_TOKEN=APP_USR-XXXXXX-XXXXXX-XXXXXX...
MP_TERMINAL_ID=NEWLAND_N950__N950NCBXXXXXX

# ID de Planilla de Auditoría en Google Sheets
GOOGLE_SHEET_ID=1OYkE2Yr-LGu9NdapmEQMIkRdPVmM9x8Cxn6fFSgQ68Q

# Puerto para el servidor local
PORT=3000
