# Credenciales de Mercado Pago
# Tu Access Token (de prueba o de producción)
MP_ACCESS_TOKEN=APP_USR-XXXXXX-XXXXXX-XXXXXX...

# El identificador de tu Point Smart (se puede consultar por API)
MP_TERMINAL_ID=NEWLAND_N950__N950NCBXXXXXX

# Puerto para el servidor local
PORT=3000
