# Credenciales de Mercado Pago
MP_ACCESS_TOKEN=APP_USR-XXXXXX-XXXXXX-XXXXXX...
MP_TERMINAL_ID=NEWLAND_N950__N950NCBXXXXXX
# ID opcional de Caja (POS) y Sucursal (Store) para evitar error ISF01 en cobros QR presenciales
MP_POS_ID=
MP_STORE_ID=

# Modo de Impresión: TEXT (Instantáneo <1s sin botones) o IMAGE (Imagen gráfica)
PRINT_MODE=TEXT

# Google Apps Script Webhook (Opción 1 - Sencilla para registrar Autores Vivos sin API keys)
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxxxxxxx.../exec

# ID de Planilla de Auditoría en Google Sheets (Opción 2 - Service Account)
GOOGLE_SHEET_ID=1OYkE2Yr-LGu9NdapmEQMIkRdPVmM9x8Cxn6fFSgQ68Q

# Puerto para el servidor local
PORT=3000

